@model Produtos_Sitio.Models.Venda

@{
    ViewData["Title"] = "Venda - Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-topo">
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
<h1>Cadastrar Venda</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clienteid" class="control-label"></label>
                <select asp-for="clienteid" class ="form-control" asp-items="ViewBag.clienteid"></select>
            </div>
            <div class="form-group">
                <label asp-for="produtoid" class="control-label"></label>
                <select asp-for="produtoid" class ="form-control" asp-items="ViewBag.produtoid"></select>
            </div>
            <div class="form-group">
                <label asp-for="data" class="control-label"></label>
                <input asp-for="data" class="form-control" />
                <span asp-validation-for="data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="quantidade" class="control-label"></label>
                <input asp-for="quantidade" class="form-control" />
                <span asp-validation-for="quantidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Total" class="control-label"></label>
                <input asp-for="Total" class="form-control" />
                <span asp-validation-for="Total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pago" class="control-label"></label>
                <select asp-for="pago" class="form-control" asp-items="ViewBag.bagConclusao"></select>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
