@model Produtos_Sitio.Models.Usuario

@{
    ViewData["Title"] = "Usuário - Cadastrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="btn-topo">
    <a asp-action="Index" class="btn btn-primary">Voltar</a>
</div>
<h1>Cadastrar Usuário</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="apelido" class="control-label"></label>
                <input asp-for="apelido" class="form-control" />
                <span asp-validation-for="apelido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
